* {
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 8%);
    font-family: "Inter", sans-serif;
    color: hsl(0, 0%, 100%);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}   

section {
    width: 24rem;
    background-color: hsl(0, 0%, 12%);
    padding: 35px;
    border-radius: 10px;
}

.profile-head , .profile-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-container {
    width: 100px;
    min-height: 100%;
}

img {
    width: 100%;
    border-radius: 100%;
}

h1 {
    font-size: 25px;
    font-weight: 500;
}

h6 {
    font-size: 14px;
    font-weight: 600;
    margin-top: -11px;
    color: hsl(75, 94%, 57%);
}

p {
    font-size: 14px;
    font-weight: 300;
    margin-top: 0px;
}   

button {
    width: 310px;
    padding: 14px;
    margin: 8px;
    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 20%);
    border: none;
    border-radius: 8px;
    font-weight: 800;
    font-size: 13px;
}
button:hover {
    width: 310px;
    padding: 14px;
    margin: 8px;
    color: hsl(0, 0%, 20%);
    background-color: hsl(75, 94%, 57%);
    border: none;
    border-radius: 8px;
    font-weight: 800;
    font-size: 13px;
}
